In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv("train_E6oV3lV.csv")

In [92]:
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [93]:
df.shape

(31962, 3)

In [94]:
df_new = pd.DataFrame(df['tweet'][:1000])

In [96]:
df_new

                                                 tweet
0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
..                                                 ...
995  are you really   or just pretending to be?  #t...
996  i finally found a way how to delete old tweets...
997   @user what a #view #oregon   #poland #usa #un...
998  have you put in your #vote yet? if you havent,...
999   @user next chapter in life stas soon, looking...

[1000 rows x 1 columns]

In [98]:
df_new['tweet'] = df_new['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df_new.head()

                                               tweet
0  @user when a father is dysfunctional and is so...
1  @user @user thanks for #lyft credit i can't us...
2                                bihday your majesty
3  #model i love u take with u all the time in ur...
4                factsguide: society now #motivation

In [71]:
# !pip install textblob

In [99]:
from textblob import TextBlob
df_new['tweet'] = df_new['tweet'].apply(lambda x: str(TextBlob(x).correct()))

In [100]:
df_new['tweet'] = df_new['tweet'].str.replace('[^\w\s]','')

/var/folders/q9/gzh2j7h554z7rrkm8vbdn0tr0000gp/T/ipykernel_56222/1772114312.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_new['tweet'] = df_new['tweet'].str.replace('[^\w\s]','')

In [101]:
df_new['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for left credit i cant use ca...
2                                  midday your majesty
3    model i love u take with u all the time in or ...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [102]:
df_new['tweet'] = df_new['tweet'].str.split()

In [103]:
df_new['tweet'].head(20)

0     [user, when, a, father, is, dysfunctional, and...
1     [user, user, thanks, for, left, credit, i, can...
2                               [midday, your, majesty]
3     [model, i, love, u, take, with, u, all, the, t...
4                [factsguide, society, now, motivation]
5     [22, huge, fan, fare, and, big, talking, befor...
6     [user, camping, tomorrow, user, user, user, us...
7     [the, next, school, year, is, the, year, for, ...
8     [we, won, love, the, land, allen, caps, champi...
9         [user, user, welcome, here, im, its, so, grm]
10    [Ã¢, ireland, consumer, price, index, mon, clim...
11    [we, are, so, selfish, orlando, standwithorlan...
12    [i, get, to, see, my, daddy, today, days, gett...
13    [user, can, calls, michigan, middle, school, b...
14    [no, comment, in, australia, opkillingbay, sea...
15     [suchjunior, is, angrygot, junior, yugyoem, org]
16    [i, am, thankful, for, having, a, paper, thank...
17                            [between, if, you, agree]
18    [its, friday, Ã°, smiles, all, around, via, in,...
19    [as, we, all, know, essential, oils, are, not,...
Name: tweet, dtype: object

In [104]:
df_new['counter']=0

In [113]:
df_new['tweet'][1]

['user',
 'user',
 'thanks',
 'for',
 'left',
 'credit',
 'i',
 'cant',
 'use',
 'cause',
 'they',
 'dont',
 'offer',
 'wheelchair',
 'van',
 'in',
 'pox',
 'disappointed',
 'getthanked']

In [111]:
df_new[1]

KeyError: 1

In [168]:
# list_words = ['jews', 'black', 'white', 'negro', 'darky', 'chink']
list_words = ['shit', 'bitch', 'bastard', 'nigga', 'bitches']

In [169]:
for i in range(0, len(df_new)):
    count = 0
    for j in df_new['tweet'][i]:
        if j in list_words:
            count +=1
    df_new['counter'][i]= count

/var/folders/q9/gzh2j7h554z7rrkm8vbdn0tr0000gp/T/ipykernel_56222/1633857278.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['counter'][i]= count

In [170]:
df_new

                                                 tweet  counter         degree
0    [user, when, a, father, is, dysfunctional, and...        0  Not offensive
1    [user, user, thanks, for, left, credit, i, can...        0  Not offensive
2                              [midday, your, majesty]        0  Not offensive
3    [model, i, love, u, take, with, u, all, the, t...        0  Not offensive
4               [factsguide, society, now, motivation]        0  Not offensive
..                                                 ...      ...            ...
995  [are, you, really, or, just, pretending, to, b...        0  Not offensive
996  [i, finally, found, a, way, how, to, delete, o...        0  Not offensive
997  [user, what, a, view, oregon, poland, us, unit...        0  Not offensive
998  [have, you, put, in, your, vote, yet, if, you,...        0  Not offensive
999  [user, next, chapter, in, life, stay, soon, lo...        0  Not offensive

[1000 rows x 3 columns]

In [171]:
df_new['counter'].value_counts()

0    996
1      3
2      1
Name: counter, dtype: int64

In [172]:
df_new.loc[df_new['counter'] > 0]

                                                 tweet  counter     degree
378  [user, my, sister, aint, even, know, i, was, w...        1  Offensive
636  [i, hope, the, family, made, arrangements, to,...        1  Offensive
702  [user, or, lying, axillary, would, call, it, a...        2  Offensive
974  [user, org, bitch, Ã°Ã°Ã°Ã°, i, knew, you, was, go...        1  Offensive

In [173]:
df_new['degree'] = ['Not offensive' if x == 0 else 'Offensive' if 0<x<3 else 'Very Offensive'for x in df_new['counter']]

In [174]:
df_new.loc[df_new['counter'] > 0]

                                                 tweet  counter     degree
378  [user, my, sister, aint, even, know, i, was, w...        1  Offensive
636  [i, hope, the, family, made, arrangements, to,...        1  Offensive
702  [user, or, lying, axillary, would, call, it, a...        2  Offensive
974  [user, org, bitch, Ã°Ã°Ã°Ã°, i, knew, you, was, go...        1  Offensive